In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Fortune_10.csv')
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [3]:
# df.replace(to_replace='ACTUAL_VALUE', value='NEW_VALUE')
df.replace(to_replace= 'Health', value = 'Halehty')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Halehty,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Halehty,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Halehty,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Halehty,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Halehty,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [4]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [5]:
df.replace('Health', 999)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,999,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,999,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,999,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,999,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,999,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [6]:
df.replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 111)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,111,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,111,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,111,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,111,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,111,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,111,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,111,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,111,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,111,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,111,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [7]:
df.replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
           [10, 20, 30, 40, 50, 60, 70, 80, 90, 100])

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,10,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,20,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,30,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,40,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,50,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,60,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,70,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,80,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,90,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,100,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [9]:
df.replace({'Industry': 'Health'}, 'Healthy')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Healthy,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Healthy,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Healthy,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Healthy,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Healthy,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [12]:
df.replace({'Industry': 'Health', 'Inception': 2010}, 555)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,555,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,555,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,555,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,555,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,555,555,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,555,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [13]:
# Regular-experession in .replace()

df.replace('[A-Za-z]', 0)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [14]:
df.replace('[A-Za-z]', 0, regex=True)

   ID  Name  Industry  Inception       Revenue  Expenses    Profit Growth
0   1     0         0       2009  $11,757,018        0.0   5274553    30%
1   2     0         0       2010  $12,329,371        0.0  11412916    20%
2   3     0         0       2012  $10,597,009        0.0   3005820     7%
3   4     0         0       2013  $14,026,934        0.0   6597557    26%
4   5     0         0       2009  $10,573,990        0.0   3138627     8%
5   6     0         0       2006  $13,898,119        0.0   8427816    23%
6   7     0         0       2010   $9,254,614        0.0   3005116     6%
7   8     0         0       2009   $9,451,943        0.0   5573830     4%
8   9     0         0       2011  $14,001,180        NaN  11901180    18%
9  10     0         0       2011  $11,088,336        0.0   5453060     7%

In [15]:
df.replace({'Industry' : '[A-Za-z]'}, 'Jane', regex=True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,JaneJane JaneJaneJaneJaneJaneJaneJaneJane,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,JaneJaneJaneJaneJaneJaneJaneJaneJane JaneJaneJ...,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,JaneJaneJaneJaneJaneJane,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,JaneJane JaneJaneJaneJaneJaneJaneJaneJane,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,JaneJaneJaneJaneJaneJane,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,JaneJaneJaneJaneJaneJane,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,JaneJaneJaneJaneJaneJane,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,JaneJaneJaneJaneJaneJane,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,JaneJane JaneJaneJaneJaneJaneJaneJaneJane,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,JaneJaneJaneJaneJaneJaneJaneJaneJaneJane JaneJ...,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [16]:
df.replace('Health', method = 'ffill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [17]:
df.replace('Health', method = 'bfill')

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,IT Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,IT Services,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [18]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [21]:
df.replace('Health', method = 'ffill', limit = 1)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Financial Services,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,IT Services,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Health,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%

In [22]:
# Remember: we use 'inplace=True' to make the change permanent in the df

In [23]:
df.replace('Health', 'Healthy', inplace=True)

In [24]:
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916,20%
2,3,Canecorporation,Healthy,2012,"$10,597,009","7,591,189 Dollars",3005820,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557,26%
4,5,Techdrill,Healthy,2009,"$10,573,990","7,435,363 Dollars",3138627,8%
5,6,Techline,Healthy,2006,"$13,898,119","5,470,303 Dollars",8427816,23%
6,7,Cityace,Healthy,2010,"$9,254,614","6,249,498 Dollars",3005116,6%
7,8,Kayelectronics,Healthy,2009,"$9,451,943","3,878,113 Dollars",5573830,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060,7%